body {
  padding-top: 60px;
  /* I figured out the background color using Chrome's Inspect tool. */
  background-color: white;
}


.tw-search {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.navbar {
  background-color: #e9eaed;
}

/* Make house logo white, even if the user hovers over it */
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: grey;
}

/* Remove the background color and border of all navbar buttons. Make their
color dark blue, like Facebook. */
.navbar button {
  background-color: transparent;
  border: none;
  color: grey;
}

/* Make buttons slightly darker when the user hovers over it, like Facebook
does. */
.navbar button:hover {
  background-color: lightgrey;
  color: darkgrey;
  border: none;
}

/* Make the button white if clicked on, and remain white after clicking.
Facebook normally opens up a menu when you do this.
:active = user is currently interacting with the button.
:focus = user is currently interacting or has just interacted with the
button.
:active:focus = both at the same time
We have to override all of these combinations, since Bootstrap has separate
rules for them.*/
.navbar button:active,
.navbar button:focus,
.navbar button:active:focus {
  background-color: lightgrey;
  color: black;
  border: none;
  /* Removes halo and shadow on button when clicked. */
  outline: none;
  box-shadow: none;
}

/* Search button style -- overrides the above two rules for the search
button */
.navbar form button,
.navbar form button:hover,
.navbar form button:focus,
.navbar form button:active,
.navbar form button:active:focus {
  background-color: white;
  color: black;
  /* Make it a bit wider. */
  width: 50px;
  /* Make the border's curve more gentle */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* Apply a light-grey border color. You can specify colors as names, rgb
  triplets, or hex numbers. */
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  /* Removes halo and shadow on button when clicked. */
  outline: none;
  box-shadow: none;
}

/* Navbar button style when the button has notifications.
Apply same style when the user is hovering the mouse over the button. */
button.tw-notifications,
button.tw-notifications:hover {
  color: grey;
}

/* Make the Bootstrap badges more Facebook-style in the navbar */
.navbar .badge {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid black;
  /* Offset the badge a bit so it hovers over the glyphicon. */
  right: 8px;
  top: -10px;
}

/* Make the "John" and "Home" buttons white. Would probably be cleaner
using a CSS class! */
.navbar .navbar-right > .btn-toolbar > .btn-group:first-child button,
.navbar .navbar-right > .btn-toolbar > .btn-group:nth-child(2) button{
  color: grey;
  border: 1px solid grey;
  background-color: white;
}

/* Make the "John" and "Home" buttons have a dark blue background when
hovered over. */
.navbar .navbar-right > .btn-toolbar > .btn-group:first-child button:hover,
.navbar .navbar-right > .btn-toolbar > .btn-group:nth-child(2) button:hover{
  background-color: white;
}

.tw-reply {
  width: 490px !important;
  border-radius: 4px !important;
}

.tw-reply-button {
  margin-left: 15px;
  margin-right: 40px;
  margin-top: 5px;
  border: none;
  color: grey;
}

.navbar-right-btn {
  border-color: lightgrey !important;
}
